extends layout

block content
  div.panel
    div.panel-heading
      h1= title
    div.panel-body This is to be used with MSUDenver's CS3250 class to calculate effort % for a team.
  p
  div.square.card
    div.card-block
      h4.card-title Calculating the values
      p.card-text
          p Of the 100%:
          ul
            li 70% divided evenly among all members
            ul
              li  full share if the number of cards (attempted or finished) meets or exceeds the base number of cards. otherwise, returns a percentage of this amount, and the rest is added to a "distributed total" for later.
          ul
            li 15% divided among people who helped or was a reference in pair programming the most.
            ul
              li This value could be higher because the "distributed total" is added to this.
          ul
            li  15% divided among people with roles.
              ul
                li  full share if they did their job.
                li  otherwise, they receive 0% of this bonus and their share is added to "distributed total"
          p If there are no members with roles, that 15% is added to "distributed"
          p If there are no members that helped with pair programming, that 15% is added to "distributed" and given evenly among all members
          p
          p
            b
              i note: This calculator does not take hours into account. Everyone is different, and some cards take longer than others. This solution is simplified to only look at cards attempted/completed, not hours worked.
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="javascripts/effort.js")
  script(src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  div.panel
    div.panel-heading
      h1 App:
    div.form-group
        div.form-team.row
          div.col-md-3
            p
              b # of Team Members
          div.col-md-3.float-left
            input#group.form-number(type='number',value='1',placeholder='1', min='1', max='10', onkeyup='groupChanged(event)' onchange='groupClick(event)')
        div.form-min.row
          div.col-md-3
            p
              b Minimum cards
          div.col-md-3.float-left
            input#min.form-number(type='number',value='1', placeholder='1', min='1')
    div.panel-body.bg-offwhite.rounded
      form.form.card
        div.form-person.bg-color1.rounded
          div.form-group.row
            div.col-md-3
              p
                b Team member
            div.col-md-7
              input.member.form-control(type='text',placeholder='name', onkeyup='typing(event)', onkeydown='keyEnter(event)')
          div.form-group.row(hidden)
            div.col-md-3
              p
                b Role
            div.col-md-7
                select.role#role(onchange='roleClick(event)')
                  option(value='Dev') Dev
                  option(value='Scrum Master') Scrum Master
                  option(value='Product Owner') Product Owner
                  option(value='Presenter') Presenter
          div.form-group.row(hidden)
            div.col-md-3
              p
                b How well did they do their role?
            div.col-md-7
              select#rolestrength.rolestrength()
                option(value='5' selected) 5/5
                option(value='4') 4/5
                option(value='3') 3/5
                option(value='2') 2/5
                option(value='1') 1/5
          div.form-group.row(hidden)
            div.col-md-3
              p
                b Cards taken
            div.col-md-7
              input#cards.cards(type='number',value='0',placeholder='0',onclick='card(event)', min='0', max='90', onkeyup='card(event)' )
          div.form-group.row(hidden)
              div.col-md-3
                p.ml-3 Cards #[a.text-info.hand(data-toggle='popover', data-content='Did they ask for help or notify if they got stuck?') fully attempted]
              div.col-md-7
                input#completed.completed(type='number', value='0', placeholder='0', onclick='_completed(event)', onkeyup='_completed(event)' min='0', max='90', )
          div.form-group.row(hidden)
            div.col-md-3
              p
                b.helped(for='helped' ) Helped others
            div.col-md-7.float-left
              input#helped.checkbox.helped(type='checkbox', name='helped' , min="1", onclick="_helped(event)", onkeydown="_helpEnter(event)")
          div.form-group.row(hidden)
              div.col-md-3
                p.pp.ml-3(for='pp' ) Hours #[a.text-info.hand(data-toggle='popover', data-content='How many hours did they save the team by answering questions?\nHow many hours did they pair program?') helped]
              div.col-my-7
                input#pp.pp(type='number', value='0', min='0', placeholder='0', onkeydown="_hoursHelped(event)", onclick="_hoursHelped(event")
    div.form-team.well.row
      div.col-md-3
        p
          b # of Team Members
      div.col-md-3.float-left
        input#group2.form-number(type='number',value='1',placeholder='1', min='1', max='10', onkeyup='groupChanged(event)' onchange='groupClick(event)')
    div.submit
      input#submit.submit(type="button", value="calculate", onclick="_calculate(event)", disabled)
    div.calc(hidden)
      div.form-chart
        div.effortChart#chartContainer
        div.percent


