extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="javascripts/effort.js")
  form.form
    div.form-group
      div.form-team
        label(for='group') # of people in team
        input#group.form-number(type='number',value='1',placeholder='8', min='1', onclick='groupClick(event)' onkeyup='groupClick(event)')
    div.form-person
      div.form-member
        label(for='member') Team member
        input#member.form-text(type='text',placeholder='name', onkeyup='typing(event)', onkeydown='keyEnter(event)')
      div.form-group
        label.role(for='role' hidden) Role
        select.role#role(onchange='if (this.selectedIndex) roleClick(event)' hidden)
          option(value='Select One:')
          option(value='Dev') Dev
          option(value='Scrum Master') Scrum Master
          option(value='Product Owner') Product Owner
          option(value='Presenter') Presenter
      div.form-group
        label.rolestrength(for='rolestrength') How well did they do their role?
        select#rolestrength.rolestrength(hidden)
          option(value='5' selected) 5/5
          option(value='4') 4/5
          option(value='3') 3/5
          option(value='2') 2/5
          option(value='1') 1/5
      div.form-group
        input#cards.cards(type='number',value='0',placeholder='0',onclick='card(event)', min='0', max='90', onkeyup='card(event)' hidden)
        label.cards(for='cards' hidden) Cards taken
      div.form-group
        div.popup
            input#completed.completed(type='number', value='0', placeholder='0', onclick='_completed(event)', min='0', max='90', hidden)
            label.completed(for='completed' hidden) Cards #[a(onclick='popUp(event)') fully attempted]
              span#myPopup.popuptext(hidden) Did they ask for help or notify if they got stuck?
      div.form-group
        input#helped.form-radio.helped(type='checkbox', name='helped' hidden, min="1", onclick="_helped(event)")
        label.helped(for='helped' hidden) Helped others
      div.form-group
        div.form-member
          label.pp(for='pp' hidden) Hours helped [of pair programming/saved by answering questions]
          input#pp.pp(type='number', value='0', placeholder='0', onclick='helped(event)', onkeydown='helped(event)' hidden)
  div.submit
    input#submit.submit(type="button", value="calculate", onclick="_calculate(event)")
